
<div class="topnav">
    <% var time = new Date(Date.parse(data.time)) %>
    <p id="time">Last Updated Date: <%- time.toTimeString().split(' ')[0] %></p>
    <p id="info"><%- data.location %></p>
    
</div>


