

<label for="start">Start date:</label>
<input type="date" id="start" name="trip-start"
    value="2023-02-19"
    min="2023-02-19" max="2029-02-19">

<label for="end">End date:</label>
<input type="date" id="end" name="trip-end"
        value="2023-02-19"
        min="2023-02-19" max="2029-02-19">

<input type="submit" value="Make a model" onclick="onsub()">

<div id="loading" width="20" height="20"></div>






